Repository OskarLovsveden/2dv612-chat-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-database, build-backend

build-database:
  stage: build
  variables:
    DOCKER_HOST: tcp://localhost:2375/
    DOCKER_DRIVER: overlay
  before_script:
  - echo IMG_REGISTRY
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

build-backend:
  stage: build
  variables:
    DOCKER_HOST: tcp://localhost:2375/
    DOCKER_DRIVER: overlay
  before_script:
  - echo IMG_REGISTRY
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

NU ska
  .gitlab-ci.yml
Due: none

Huh?
  .gitlab-ci/rules.gitlab-ci.yml
Due: none

En ändring
  .gitlab-ci.yml
Due: none

Add mr chek
  .gitlab-ci/rules.gitlab-ci.yml
Due: none

Add mr check
  .gitlab-ci/rules.gitlab-ci.yml
Due: none

Add mr check
  .gitlab-ci/test.gitlab-ci.yml
Due: none

Add mr check
  .gitlab-ci.yml
Due: none

"Fix" lint in client
  .gitlab-ci.yml
  client/.eslintignore
  client/package-lock.json
  client/src/context/AuthReducer.ts
  client/src/context/HomeReducer.ts
  client/src/reportWebVitals.ts
  client/src/utils/http/chatroom-service.ts
  client/src/utils/http/user-service.ts
  server/.eslintignore
Due: build-backend

Change rules for build
  .gitlab-ci.yml
  .gitlab-ci/build.gitlab-ci.yml
Due: none

Change rules for build
  .gitlab-ci.yml
  server/src/middlewares/auth-middleware.ts
Due: none

Change rules for build
  .gitlab-ci.yml
Due: none

Change rules for build
  server/src/middlewares/auth-middleware.ts
Due: none

Change rules for build
  .gitlab-ci.yml
  .gitlab-ci/build.gitlab-ci.yml
  .gitlab-ci/rules.gitlab-ci.yml
  server/src/middlewares/auth-middleware.ts
Due: none

Add acceptance tests to pipeline
  server/src/tests/routes.spec.ts
Due: none

Change rules for build
  client/src/context/AuthReducer.ts
  postgres/db.sql
  server/src/middlewares/auth-middleware.ts
Due: build-database

Add acceptance tests to pipeline
  .gitlab-ci/rules.gitlab-ci.yml
  .gitlab-ci/staging.gitlab-ci.yml
Due: none

Change rules for build
  .gitlab-ci/build.gitlab-ci.yml
  client/src/context/AuthProvider.tsx
  postgres/db.sql
  server/src/config/config.ts
Due: build-database

Change rules for build
  .gitlab-ci.yml
  .gitlab-ci/build.gitlab-ci.yml
  client/src/App.css
  postgres/db.sql
  server/src/config/config.ts
Due: build-database

Changes in the pipeline
  .gitlab-ci.yml
  .gitlab-ci/rules.gitlab-ci.yml
Due: none

Change rules for build
  client/src/App.tsx
Due: none

Change rules for build
  .gitlab-ci.yml
  .gitlab-ci/build.gitlab-ci.yml
  .gitlab-ci/rules.gitlab-ci.yml
Due: none

change client and server images
  client/Dockerfile
  server/Dockerfile
Due: build-backend

change dockerfile for client and server
  client/Dockerfile
  server/Dockerfile
  server/package-lock.json
Due: build-backend

change dockerfile for client and server
  server/Dockerfile
Due: build-backend

change dockerfile for client and server
  postgres/Dockerfile
  server/Dockerfile
  server/package.json
Due: build-database, build-backend

change dockerfile for client and server
  .gitlab-ci.yml
  server/Dockerfile
Due: build-backend

Add all jobs
  .gitlab-ci.yml
Due: none

Add ci rules for test and install deps
  .gitlab-ci/install_dependencies.gitlab-ci.yml
  .gitlab-ci/rules.gitlab-ci.yml
  .gitlab-ci/test.gitlab-ci.yml
Due: none

Add ci rules for test and install deps
  .gitlab-ci/install_dependencies.gitlab-ci.yml
  .gitlab-ci/test.gitlab-ci.yml
Due: none

Add ci rules for test and install deps
  .gitlab-ci.yml
Due: none

Add ci rules for test and install deps
  .gitlab-ci.yml
  .gitlab-ci/install_dependencies.gitlab-ci.yml
  .gitlab-ci/test.gitlab-ci.yml
Due: none

Add ci rules for test and install deps
  client/src/App.css
Due: none

Path conditions:
  build-database: any of: postgres/*
  build-backend: any of: server/*
