Repository OskarLovsveden/2dv612-chat-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-database, build-backend, build-frontend

.gitlab-ci-build.yml:

build-database:
  only:
    changes:
      - postgres/*
  stage: build
  variables:
    DOCKER_HOST: tcp://localhost:2375/
    DOCKER_DRIVER: overlay
  before_script:
    - echo IMG_REGISTRY
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  # Default branch leaves tag empty (= latest tag)
  # All other branches are tagged with the escaped branch name (commit ref slug)
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag=""
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
      else
        tag=":$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi
    - docker build -t $IMG_REGISTRY/postgres$tag postgres/
    - docker push $IMG_REGISTRY/postgres$tag

  tags:
    - k8-runner

build-backend:
  only:
    changes:
      - server/*
  stage: build
  variables:
    DOCKER_HOST: tcp://localhost:2375/
    DOCKER_DRIVER: overlay
  before_script:
    - echo IMG_REGISTRY
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  # Default branch leaves tag empty (= latest tag)
  # All other branches are tagged with the escaped branch name (commit ref slug)
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag=""
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
      else
        tag=":$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi

    - docker build -t $IMG_REGISTRY/koa$tag --build-arg ENV=dev server/
    - docker push $IMG_REGISTRY/koa$tag
  tags:
    - k8-runner

build-frontend:
  only:
    changes:
      - client/*
  stage: build
  variables:
    DOCKER_HOST: tcp://localhost:2375/
    DOCKER_DRIVER: overlay
  before_script:
    - echo IMG_REGISTRY
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  # Default branch leaves tag empty (= latest tag)
  # All other branches are tagged with the escaped branch name (commit ref slug)
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag=""
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
      else
        tag=":$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi

    - docker build -t $IMG_REGISTRY/client$tag client/
    - docker push $IMG_REGISTRY/client$tag
  tags:
    - k8-runner

Add build arg to koa dockerfile
  .gitlab-ci-build.yml
Due: none

Update dockerfile for koa
  .gitlab-ci-build.yml
  server/.dockerignore
  server/Dockerfile
  server/package.json
Due: build-backend

Breaking up components for sidebar
  client/src/App.tsx
  client/src/components/UserCreation.tsx
  client/src/components/sidebar/List.tsx
  client/src/components/sidebar/SideBar.tsx
  client/src/pages/AdminPanel.tsx
  client/src/types/ChannelInfo.ts
Due: none

Add usersid column to chatroom table
  postgres/db.sql
  server/src/controllers/chatroom-controller.ts
  server/src/models/sequelizeModels/Chatroom.ts
  server/src/routes/chatroom-router.ts
Due: build-database

implemented hopefully working bkend to list users in room
  server/src/controllers/chatroom-controller.ts
  server/src/models/chatroom.ts
  server/src/routes/chatroom-router.ts
  server/src/types/db-types.ts
  server/src/types/respond-types.ts
Due: none

Update ansible
  infrastructure/inventory/group_vars/all/tf_vars.yml
  infrastructure/pb-site.yml
  infrastructure/roles/infrastructure/tasks/rescue.yml
  infrastructure/roles/kube_global/tasks/main.yml
  infrastructure/roles/kube_master/tasks/main.yml
  infrastructure/ssh_config
  infrastructure/tf-servers.tf
Due: none

Update koa dockerfile
  server/Dockerfile
Due: build-backend

Get me lock
  .gitignore
Due: none

Add lock
  server/Dockerfile
  server/package-lock.json
Due: build-backend

Update dockerfile for koa
  server/Dockerfile
Due: build-backend

Update dockerfile for koa
  .gitlab-ci-deploy.yml
  infrastructure/roles/kube_global/tasks/main.yml
Due: none

Update deploy pipeline
  .gitlab-ci-deploy.yml
Due: none

Update dockerfile for frontend
  .gitlab-ci-build.yml
  client/.dockerignore
  client/Dockerfile
  client/package-lock.json
  client/package.json
  k8_test/postgres.yaml
  k8_test/vars.yaml
Due: build-frontend

Add stuff
  server/package.json
Due: build-backend

CHange scapodksa
  server/Dockerfile
Due: build-backend

Update pipeline
  .gitlab-ci-build.yml
  .gitlab-ci-deploy.yml
  infrastructure/roles/kube_global/tasks/main.yml
Due: none

Update pipeline
  .gitlab-ci-deploy.yml
Due: none

Update pipeline
  server/Dockerfile
Due: build-backend

reafactor + cleanup
  client/src/components/Chatroom.tsx
  client/src/components/Chatroom/Chat.tsx
  client/src/components/Login.tsx
  client/src/components/UserCreation.tsx
  client/src/components/routes/Public.tsx
  client/src/context/AuthProvider.tsx
  client/src/context/AuthReducer.ts
  client/src/pages/AdminPanel.tsx
  client/src/pages/Home.tsx
  client/src/types/AuthReducerAction.ts
Due: none

Update pipeline
  server/Dockerfile
  server/package.json
  server/tsconfig.json
Due: build-backend

Update koa dockerfile
  server/Dockerfile
  server/build/app.js
  server/build/config/config.js
  server/build/controllers/auth-controller.js
  server/build/controllers/chatroom-controller.js
  server/build/controllers/user-controller.js
  server/build/db/postgres.js
  server/build/middlewares/auth-middleware.js
  server/build/middlewares/user-middleware.js
  server/build/models/chatroom.js
  server/build/models/user.js
  server/build/routes/auth-router.js
  server/build/routes/chatroom-router.js
  server/build/routes/index-router.js
  server/build/routes/user-router.js
  server/build/server.js
  server/build/services/test-service.js
  server/build/types/db-types.js
  server/build/types/event-data-types.js
  server/build/types/request-types.js
  server/build/types/respond-types.js
  server/build/types/token-payload.js
  server/build/utils/jwt-helper.js
  server/build/utils/socket-events.js
  server/build/utils/socket-services.js
  server/package.json
  server/tsconfig.json
Due: build-backend

Remove build files
  server/build/app.js
  server/build/config/config.js
  server/build/controllers/auth-controller.js
  server/build/controllers/chatroom-controller.js
  server/build/controllers/user-controller.js
  server/build/db/postgres.js
  server/build/middlewares/auth-middleware.js
  server/build/middlewares/user-middleware.js
  server/build/models/chatroom.js
  server/build/models/user.js
  server/build/routes/auth-router.js
  server/build/routes/chatroom-router.js
  server/build/routes/index-router.js
  server/build/routes/user-router.js
  server/build/server.js
  server/build/services/test-service.js
  server/build/types/db-types.js
  server/build/types/event-data-types.js
  server/build/types/request-types.js
  server/build/types/respond-types.js
  server/build/types/token-payload.js
  server/build/utils/jwt-helper.js
  server/build/utils/socket-events.js
  server/build/utils/socket-services.js
Due: none

listing chats and context for active chat
  client/src/components/sidebar/ChatroomList.tsx
  client/src/components/sidebar/DirectMessageList.tsx
  client/src/components/sidebar/List.tsx
  client/src/components/sidebar/SideBar.tsx
  client/src/context/HomeProvider.tsx
  client/src/context/HomeReducer.ts
  client/src/types/DirectMessage.ts
  client/src/types/HomeContextState.ts
  client/src/types/HomeReducerAction.ts
Due: none

Update dockerfile for client
  .gitignore
  client/Dockerfile
  client/package-lock.json
  client/package.json
  client/tsconfig.json
  server/Dockerfile
Due: build-backend, build-frontend

Update dockerfile for client
  client/Dockerfile
Due: build-frontend

Add react proxy
  client/Dockerfile
  client/package-lock.json
  client/package.json
  infrastructure/roles/kube_global/templates/proxy-cm.yml.j2
  k8s/client.yaml
  k8s/proxy-dep.yaml
Due: build-frontend

Add pvc for react
  k8s/client.yaml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Fix client dockerfile
  client/Dockerfile
  client/nginx.conf
  k8s/client.yaml
Due: build-frontend

Fix client dockerfile
  k8s/client.yaml
Due: none

Fix client dockerfile
  client/Dockerfile
  infrastructure/roles/kube_global/templates/proxy-cm.yml.j2
  k8s/client.yaml
Due: build-frontend

Fix client dockerfile
  .gitlab-ci-build.yml
  client/Dockerfile.build
  client/Dockerfile.deploy
Due: build-frontend

Fix client dockerfile
  .gitlab-ci-build.yml
Due: none

Fix client dockerfile
  .gitlab-ci-build.yml
  k8s/client.yaml
Due: none
